.reports-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tables-and-chart {
  display: flex;
  flex: 1;
}

.table-container {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.chart-and-summary-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.summary-table-container {
  flex: 1;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
}

.summary-table th,
.summary-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.summary-table th {
  background-color: #f4f4f4;
}
