/* Navbar genel stili */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8785A2;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

/* Sol kısmı düzenler */
.navbar-left {
  display: flex;
  align-items: center;
}

/* Logo */
.navbar-logo {
  height: 27px;
  margin-right: 30px;
}

/* Başlık */
.navbar-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Sağ kısmı düzenler */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Genel buton stili */
.navbar-button {
  margin-right: 10px; /* Butonlar arasında boşluk */
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Kalın yazı */
  font-size: 16px; /* Yazı boyutu */
  background: none; /* Arka plan rengi */
  border: none; /* Kenar rengi */
  cursor: pointer; /* İmleç işareti */
}

/* FontAwesome ikonları */
.svg-inline--fa {
  margin-right: 10px;
  margin-bottom: 5px;
  height: 1.2rem;
}

/* Hover durumunda buton */
.navbar-button:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.1); /* Hover arka plan rengi */
}

/* Dropdown menüsü */
.navbar-dropdown {
  position: relative;

}.navbar-dropdown:hover{
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.1); /* Hover arka plan rengi */
}

.navbar-dropdown .dropdown-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
font-family: "Poppins", sans-serif;
}  

/* Dropdown menü */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #387373;
  border: 1px solid #555;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 1000;
  width: 150px;
  display: none; /* Varsayılan olarak gizli */
}

/* Dropdown menüsü açıkken */
.dropdown-menu.show {
  display: block; /* Göster */
}
/* Dropdown menü öğeleri */
.dropdown-item {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px; /* Küçültülmüş padding */
  font-size: 12px; /* Küçültülmüş yazı boyutu */
}


/* Dropdown menü öğeleri üzerinde hover */
.dropdown-item:hover {
  background-color: #555;
}

/* Profil kısmı */
.navbar-profile {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #387373;
  border-radius: 8px;
}

.navbar-profile-img {
  height: 2.5rem;
  width: 2.5rem;
  border: 3px solid #E4F2E7;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

.navbar-profile-name {
  font-size: 16px;
}
