/* Navbar genel stili */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8785A2;
  width: 100%;
  box-sizing: border-box;
}

/* Sol kısmı düzenler */
.navbar-left {
  display: flex;
  align-items: center;
}

/* Logo */
.navbar-logo {
  height: 30px;
  margin-right: 30px;
}

/* Başlık */
.navbar-title {
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 1.5vw; /* Esnek yazı boyutu */
  padding-left: 2vw; /* Esnek padding değeri */
  padding-top: 5px;
  white-space: nowrap; /* Taşmayı önler */
}

/* Sağ kısmı düzenler */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Genel buton stili */
.navbar-button {
  color: white;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s, text-decoration 0.3s;
}

/* FontAwesome ikonları */
.svg-inline--fa {
  margin-right: 10px;
  height: 1.1rem;
}

/* Hover durumunda butonlar */
.navbar-button:hover,
.navbar-dropdown:hover .dropdown-toggle {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Dropdown menüsü */
.navbar-dropdown {
  position: relative;
}

.navbar-dropdown .dropdown-toggle {
  padding: 16px;
}

/* Dropdown menü */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #387373;
  border: 1px solid #555;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 1000;
  width: 150px;
  display: none;
}

/* Dropdown menüsü açıkken */
.dropdown-menu.show {
  display: block;
}

/* Dropdown menü öğeleri */
.dropdown-item {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 12px;
}

/* Dropdown menü öğeleri üzerinde hover */
.dropdown-item:hover {
  background-color: #555;
}

/* Profil kısmı */
.navbar-profile {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #387373;
  border-radius: 8px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

/* Profil resmi */
.navbar-profile-img {
  height: 2.5rem;
  width: 2.5rem;
  border: 3px solid #E4F2E7;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

/* Profil ismi */
.navbar-profile-name {
  font-size: 16px;
}

/* Profil kısmı hover durumu */
.navbar-profile:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Medya sorguları */
@media (max-width: 768px) {
  .navbar-title {
    font-size: 4vw; /* Küçük ekranlarda daha küçük boyut */
    padding-left: 1vw; /* Padding küçültme */
  }
}

@media (max-width: 480px) {
  .navbar-title {
    font-size: 5vw; /* Daha küçük ekranlar için */
    padding-left: 0.5vw;
  }
}
