.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8785A2;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 27px;
  margin-right: 30px;
}

.navbar-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin-right: 2px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.svg-inline--fa{
  margin-right: 10px;
  margin-bottom: 5px;
  height: 1.2rem;
}
.navbar-link:hover {
  text-decoration: underline;
}

.navbar-profile {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-right: 5px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  background-color: #387373;
  margin-left:5px ;
  border-radius: 8px;
}

.navbar-profile-img {
  
  height: 2.5rem;
  width: 2.5rem; 
  border: 3px solid #E4F2E7;
  margin-left: 10px;/* Yüksekliği ve genişliği eşitleyerek yuvarlak görünüm sağlanır */
  margin-right: 10px;
  border-radius: 50%; /* Profil fotoğrafının yuvarlak görünmesini sağlar */
  overflow: hidden; /* Taşmaları önler */
  object-fit: cover; /* Fotoğrafın oranlarını koruyarak doğru şekilde kırpılmasını sağlar */
}

.navbar-profile-name {
  font-size: 16px;
}
