body, html, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controls {
  padding: 10px;
  background: #170879;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.dropdown-container {
  border-color: grey;
  color: black;
  border-bottom: black;
  display: flex;
  gap: 10px;
}

.custom-dropdown select {
  background-color: #432aa3; /* Butonun arkaplan rengi */
  color: rgb(4, 10, 131); /* Metin rengi */
}

.htDropdownButton {
  background-color: dodgerblue; /* İstediğiniz rengi buraya girin */
  color: rgb(34, 77, 179); /* Buton metin rengini ayarlayın */
}

.button-group {
  display: flex;
  gap: 10px;
}

.table-container {
  background-color: #170879;
  flex: 1;
  padding: 10px;
}
